<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header::header">

</head>
<body>
<nav class="navbar navbar-default navbar-expand-lg hp-nav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hp-nav-brand" href="/"><b>BBKB</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="#">Test</a></li>
            </ul>
            <!-- <form class="navbar-form navbar-left">
                 <div class="form-group">
                     <input type="text" class="form-control" placeholder="Search">
                 </div>
                 <button type="submit" class="btn btn-default">立即搜索</button>
             </form>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="page-header">
        <h1>搜索引擎
            <small>Lucene的简单应用</small>
        </h1>
    </div>

    <form class="form-inline" id="my-form">
        <div class="form-group input-group-lg">
            <label for="input1" style="font-size: 20px;">出发</label>
            <input type="text" class="form-control" id="input1" placeholder="请输入出发城市" onkeyup="getDataList()"
                   value="">
        </div>
        <div class="form-group input-group-lg">
            <label for="input2" style="font-size: 20px;">到达</label>
            <input type="text" class="form-control" id="input2" placeholder="请输入到达城市" value="">
        </div>
        <div class="form-group input-group-lg">
            <label for="input3" style="font-size: 20px;">日期</label>
            <input type="date" class="form-control" id="input3">
            <script>
                var day = new Date()
                day.setTime(day.getTime() + 24 * 60 * 60 * 1000);
                var year = day.getFullYear();       //年
                var month = day.getMonth() + 1;     //月
                var day = day.getDate();            //日
                if (month < 10) {
                    month = "0" + month;
                }
                if (day < 10) {
                    day = "0" + day;
                }
                $("#input3").val(year + '-' + month + '-' + day)
            </script>
        </div>
        <button type="button" class="btn btn-default btn-lg" onclick="doQuery()">查询</button>
        <button type="button" class="btn btn-default btn-lg" onclick="doClear()">清空</button>
        <hr/>
        <ul class="list-group" id="list-result" style="margin-top: 5px;position: absolute;background: #cccccc">
        </ul>
        <table class="table table-striped">
            <tbody id="my-table">

            </tbody>
        </table>
    </form>


</div>
</body>
<script>
    function doClear() {
        $("#my-table").html("")
    }
    function getDataList() {
        $("#list-result").html("")
        if ($("#input1").val().trim() == '') {
            return;
        }
        $.get("/searchBykeyWords?page=1&keywords=" + $("#input1").val().trim(), function (res) {
            var str = '';

            for (var i = 0; i < res.list.length; i++) {
                var stationTo = res.list[i]
                console.log(stationTo)
                str += '<li class="list-group-item" onclick="selectItem(this)"><span>' + stationTo.startAreaName + '</span>(' + stationTo.startAreaNameAbbr + ' ' + stationTo.startAreaNamePinYin + ')' + ' — <span>' + stationTo.zoneName + '</span>(' + stationTo.zoneNameAbbr + ' ' + stationTo.zoneNamePinYin + ')'
                '</li>'
            }

            $("#list-result").html(str)
        })
    }

     $(document).click(function () {
         $("#list-result").html("");
     })

    function selectItem(mythis) {
        $this = $(mythis)
        var startAreaName = $this.find("span")[0].innerText
        var zoneName = $this.find("span")[1].innerText
        console.log(startAreaName + " " + zoneName)
        $("#input1").val(startAreaName)
        $("#input2").val(zoneName)
    }

    function doQuery() {
        $("#my-table").html("")
        var str = "";
        $.get("/doQuery?beginStation=" + $("#input1").val() + "&endStation=" + $("#input2").val() + "&leaveDate=" + $("#input3").val(), function (res) {
            console.log(res.length)
            var str = "";
            for (var i = 0; i < res.length; i++) {
                str += '<tr><td>' + res[i].departure + '</td><td>' + res[i].destination + '</td><td>' + res[i].busDate + '</td><td>' + res[i].busTime + '</td><td>' + res[i].ticketPrice + '</td><td>' + res[i].departureStation + '</td><td>' + res[i].ticketLeft + '</td><td>' + res[i].busType + '</td><td>' + res[i].busNo + '</td></tr>'
            }
            $("#my-table").html(str)
        })


    }
</script>
</html>